.contact-page {
  width: 100%;
  height: 100%;
}

.contact-page .container {
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--text);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer_container_sticky_container {
  margin-top: 0 !important;
}
.contact-page .container .normal {
  margin-bottom: 3rem;
}
.contact-page .container .big {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
.contact-page .container .big,
.contact-page .container .normal {
  color: var(--text);
}
