.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bgLighter);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 100000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--text);
  transform: scaleX(0);
  transform-origin: left;
}

.home {
  width: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.main .middleLine {
  width: 100%;
  height: 40%;
  max-height: 400px;
  background: var(--text);
  /* display: none; */
}
.main .middleLine .middleLine h3 {
  font-family: "ImpostureGrotesk";
  font-weight: 800;
  font-size: 14rem;
  color: black;
  will-change: transform;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.main .middleLine .miniLogo {
  color: var(--text);
  position: relative;
  overflow: hidden;
  width: 50vw;
  min-width: 290px;
  max-width: 300px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .middleLine .miniLogo p {
  color: var(--text);
  font-size: 13rem;
  font-family: "ImpostureGrotesk";
  font-weight: 700;
  position: relative;
  transform: translateY(-300px);
  will-change: transform;
}

.top-section {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 3;
}

.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  max-width: 1600px;
  margin: auto;
  z-index: 2;
}
.hero-title .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  position: relative;
}
.hero-title .line h2 {
  font-size: 4vw;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-style: italic;
  font-weight: 200;
}
.hero-title .line2 {
  overflow: hidden !important;
  max-height: 80px;
}
.hero-title .line2 .changing_career_cont {
  justify-content: center;
}
.hero-title .line2 .changing_career_cont .changing_career {
  font-size: 3vw;
  font-style: italic;
  font-weight: 200;
  user-select: none;
}
.hero-title h1 {
  font-family: "ImpostureGrotesk";
  font-weight: 800;
  font-size: 14vw;
  position: relative;
  transform: translateY(240px);
  will-change: transform;
  line-height: 120%;
  z-index: 2;
}
.hero-title h2 {
  transform: translateY(290px);
  will-change: transform;
}

.h1_1 {
  text-align: left;
  margin-left: 7%;
}

.h1_2 {
  text-align: right;
  margin-right: 5%;
}

.skill-slides {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  transform: translateY(20px);
  will-change: transform;
}

.skill-slide {
  font-size: 2rem;
  line-height: 50px;
  color: var(--text);
}

@media screen and (max-width: 1000px) {
  .hero-title h1 {
    font-size: 20vw;
  }
  .h1_1 {
    text-align: center;
    margin-left: 2%;
  }
  .h1_2 {
    text-align: center;
    margin-right: 0%;
  }
}
.particleCont {
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

@media (max-width: 900px) {
  .hero-title {
    width: 99%;
  }
}
.aboutWrapper {
  position: relative;
}

.aboutme {
  padding: 5rem;
  height: 80vh;
  max-height: 900px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .aboutme p {
    margin-top: 2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .aboutme {
    padding: 0.5rem;
  }
  .aboutme p {
    margin-top: 2rem !important;
  }
}
.aboutme p {
  margin-top: 3rem;
  font-weight: 300;
  line-height: 120%;
  font-size: clamp(1.1rem, -0.775rem + 6vw, 2.6rem);
  color: var(--text);
  text-wrap: initial;
}

.aboutme p .wave {
  font-size: 50%;
  overflow: hidden;
  display: inline-flex;
  animation: wave-animation 1s infinite;
}

@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.aboutme p .nameWrapper {
  /* display: inline-flex; */
  background: transparent;
  color: var(--text);
  padding: 2px;
  border-radius: 10px;
}

.aboutme p .specialText {
  font-family: "ImpostureGrotesk";
  font-style: italic;
}

.aboutLine {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

/* skillset */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-gc {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.one-blank {
  width: 100%;
  height: 100vh;
  color: #fff;
  gap: 2vw;
  font-size: 1.5vw;
}

.skillset_section {
  width: 100%;
  height: 100vh;
  max-height: 700px;
  padding: 1%;
  margin-bottom: 5rem;
}
.skillset_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: transparent;
}
.skillset_title,
.skillset h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--text);
  font-size: 3rem;
  font-weight: 600;
}
.skillset_gravity {
  width: 100%;
  height: 100%;
}
.skillset_gravity canvas {
  position: relative;
  z-index: 10;
}
.skillset_icon {
  height: 150px !important;
  width: 150px !important;
  margin: 0.1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-md);
  color: var(--foreground-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #1a1818;
  box-shadow: inset -5px -5px 10px #1a1818, inset 5px 5px 10px #221e1e;
}
.skillset_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.skillset_icon.image {
  overflow: hidden;
  padding: 0.3rem;
}
.skillset_icon.circle {
  border-radius: 50%;
}
.skillset_icon.rectangle {
  border-radius: 2rem;
}

.h1_line {
  width: 0%;
  height: 2px;
  background-color: var(--text);
  border: none;
}

/* ------------- */
.skillH2 {
  overflow: hidden;
}

.circle {
  border-radius: 50%;
}