.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgLighter);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 100000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--text);
  transform: scaleX(0);
  transform-origin: left;
}
.home {
  width: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.main .middleLine {
  width: 100%;
  height: 40%;
  max-height: 400px;
  background: var(--text);
  /* display: none; */
}
.main .miniLogo {
  font-family: "ImpostureGrotesk";
  font-weight: 700;
  font-size: 13rem;
  color: var(--text);
  /* top: -211%; */
  scale: 80;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-14%, -9%);
}
.main .middleLine h3 {
  font-family: "ImpostureGrotesk";
  font-weight: 800;
  font-size: 14rem;
  color: black;
  will-change: transform;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.top-section {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 3;
}
.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  max-width: 1600px;
  margin: auto;
  z-index: 2;
}

.hero-title .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  position: relative;
}

.hero-title h1 {
  font-family: "ImpostureGrotesk";
  font-weight: 800;
  font-size: 15vw;
  position: relative;
  transform: translateY(240px);
  will-change: transform;
  line-height: 120%;
  z-index: 2;
}
.hero-title h2 {
  transform: translateY(290px);
  will-change: transform;
}
.h1_1 {
  text-align: left;
  margin-left: 5%;
}
.h1_2 {
  text-align: right;
  margin-right: 5%;
}
@media screen and (max-width: 1000px) {
  .hero-title h1 {
    font-size: 20vw;
  }
  .h1_1 {
    text-align: center;
    margin-left: 2%;
  }
  .h1_2 {
    text-align: center;
    margin-right: 0%;
  }
  .line h2 {
    font-size: 4vw;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-style: italic;
    font-weight: 200;
  }
}

.line h2 {
  font-style: italic;
  font-weight: 200;
}

.particleCont {
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

@media (max-width: 900px) {
  .hero-title {
    width: 99%;
  }
}
.aboutWrapper {
  position: relative;
}
.aboutme {
  padding: 5rem;
  height: 80vh;
  max-height: 900px;
}
@media screen and (max-width: 500px) {
  .aboutme {
    padding: 0.5rem;
  }
  .aboutme p {
    margin-top: 2rem !important;
    font-size: 6vw !important;
  }
}
.aboutme p {
  margin-top: 5rem;
  font-size: 3.6vw !important;
  /* font-size: clamp(1.2rem, 0.75rem + 2.4vw, 3rem); */
  color: var(--text);
  text-wrap: initial;
}

.aboutme p .wave {
  font-size: 50%;
  overflow: hidden;
  display: inline-flex;
  animation: wave-animation 1s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.aboutme p .nameWrapper {
  /* display: inline-flex; */
  background: transparent;
  color: var(--text);
  padding: 2px;
  border-radius: 10px;
}
.aboutme p .specialText {
  font-family: "ImpostureGrotesk";
  font-style: italic;
}

/* skillset */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-gc {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.one-blank {
  width: 100%;
  height: 100vh;
  color: #fff;
  gap: 2vw;
  font-size: 1.5vw;
}

.skillset-section {
  width: 100%;
  height: 100vh;
  padding: 1%;
}

.skills {
  flex-wrap: wrap;
  width: 100%;
  gap: 2vh;
  padding: 0vw 1.5vw;
}

.skillset-section h2 {
  padding: 1vw 2vw;
  font-size: 2vw;
  border: 1px solid var(--text);
  border-radius: 50px;
  font-weight: 400;
  filter: blur(10px);
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.skillset-section h2:hover {
  background-color: var(--text);
  color: var(--bg);
  transition: 0.2 all ease;
}
.skillset-section .header.line {
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  position: relative;
}

.skillset-section .header.line .h1_3 {
  font-family: "ImpostureGrotesk";
  font-weight: 800;
  font-size: 4rem;
  position: relative;
  transform: translateY(240px);
  line-height: 120%;
  will-change: transform;
}

.h1_line {
  width: 0%;
  height: 2px;
  background-color: var(--text);
  border: none;
}
/* ------------- */
