.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  z-index: 11;
  mix-blend-mode: exclusion;
}

.menu-toggle-wrapper,
.logo,
.portfolio-year {
  position: relative;
  flex: 1;
}
.menu-toggle-wrapper > *,
.logo > *,
.portfolio-year > * {
  font-size: 1.1rem !important;
}
@media screen and (max-width: 500px) {
  .menu-toggle-wrapper > *,
  .logo > *,
  .portfolio-year > * {
    font-size: 0.9rem !important;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-year {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
